.note {
  position: relative;

  display: flex;
  align-items: flex-end;
  gap: 1rem;

  padding: 0.5rem 1.5rem;
  margin: 2rem auto 4rem;

  border-radius: 5px;

  background-color: var(--secondary-color);
  color: var(--opaque-white);

  transition: var(--text-hover-transition);
}

.note::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 5px 0 0 5px;

  width: 7px;
  height: 100%;

  background-color: var(--complement-color);
}

.note:hover {
  color: #fff;
}

.note__icon {
  margin: 1rem 0 !important;
  padding: 0;
  position: relative;

  align-self: center;
}
