.hero {
  max-width: 700px;
  margin: 4rem auto;
}

.hero_title {
  margin: 0.5rem auto;

  font-size: 3.2rem;
  text-align: center;

  transition: text-shadow var(--transition-duration-and-timing);
  animation: blink 4s ease infinite alternate;
}

@keyframes blink {
  to {
    text-shadow: 0px 0px 10px var(--complement-color);
  }
}

.hero_subtitle {
  margin: 1.5rem auto 4.5rem;

  font-size: 2.5rem;
  text-align: center;
}

.hero_description {
  font-size: 1.5rem;
}

.hero_description__name {
  font-weight: 600;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .hero {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
