.metadataContainer {
  max-width: max-content;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  font-size: 1.4rem;
  background-color: var(--secondary-color);

  padding: 1rem;
  margin: 3rem auto 0;
  gap: 1rem;

  border-radius: 5px;
}

.metadataContainer img {
  margin-right: 10px;
}
