.post_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1rem;

  background-color: #2b2b2b;
  border-radius: 5px;
}

.post_card__date {
  opacity: 0.7;
}

.post_card__link {
  position: absolute;
  top: 10px;
  right: 10px;
}
