.codeContainer {
  margin: 2rem auto;
}

.codeContainer pre {
  margin: 0;
}

.codeContainer:hover .codeContainer__language {
  color: #fff;
}

.codeContainer__language {
  display: block;
  width: max-content;

  padding: 0.3rem 1rem;

  transition: var(--text-hover-transition);

  background-color: var(--secondary-color);
  color: var(--opaque-white);

  border-radius: 10px 10px 0 0;
}
