.loginBtn {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin: 1rem auto;
  padding: 0.5rem 1rem;

  border-radius: 5px;
  border: none;

  background-color: var(--terciary-color);
  font-size: 1rem;
}
