.header {
  --box-shadow: 0px 10px 10px #0004;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);

  padding: 1rem;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  padding: 1rem;

  transition: left 0.5s ease-in-out;
}

.header__logo {
  max-width: 150px;
}

.navBar__link {
  font-size: 1.3rem;
  transition: var(--text-hover-transition),
    text-shadow var(--transition-duration-and-timing);
  color: var(--opaque-white);
}

.navBar__link:hover {
  text-shadow: 0px 0px 10px var(--complement-color);
  color: #fff;
}

.menuBtn {
  z-index: 1000;

  width: 4rem;
  height: 4rem;
  padding: 0.8rem;
  border: 0;

  display: none;
  flex-direction: column;
  justify-content: space-around;

  outline: 0;

  background: transparent;
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.menuBtn__stick {
  width: 100%;
  height: 3.2px;

  transition: transform 0.5s, opacity 0.5s;
  transform-origin: left;

  background-color: #fff;
  border-radius: 5px;
}

.menuOpened ~ .menuBtn .menuBtn__stick:first-child {
  transform: rotate(34.5deg) scaleX(1.2);
}

.menuOpened ~ .menuBtn .menuBtn__stick:nth-child(2) {
  opacity: 0;
}

.menuOpened ~ .menuBtn .menuBtn__stick:nth-child(3) {
  transform: rotate(-34.5deg) scaleX(1.2);
}

@media screen and (max-width: 768px) {
  .navBar {
    width: 100%;

    position: absolute;
    top: 100%;
    left: -100%;

    justify-content: center;

    background-color: inherit;

    box-shadow: var(--box-shadow);
  }

  .menuOpened {
    left: 0;
  }

  .menuBtn {
    display: flex;
  }

  .header__logo {
    width: auto;
    max-height: 50px;
  }

  .header {
    padding: 0.3rem 0.6rem;
  }

  .authNavBar__btn {
    padding: 0.3rem 0.6rem;
  }
}

.authNavBar {
  display: flex;
  gap: 1rem;
}

.authNavBar__img {
  width: 50px;
  height: 50px;

  border-radius: 50%;

  outline: 1px solid #fff8;
}
