.link {
  text-decoration: none !important;
}

.post_card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1.5rem;

  background-color: var(--secondary-color);
  border-radius: 5px;

  transition: var(--box-shadow-transition);
}

.post_card img {
  margin-right: 10px;
}

.post_card__title {
  margin: 0 0 1rem;

  font-size: 1.4rem;
}

:is(.post_card__date, .post_card__reading_time) {
  margin: 0.5rem 0;

  width: max-content;

  opacity: 0.7;
  transition: opacity var(--transition-duration-and-timing);
}

:is(.post_card__date, .post_card__reading_time):hover {
  opacity: 1;
}

.post_card:hover {
  box-shadow: 0px 5px 5px 2px #0004;
}

.post_card__arrow {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  opacity: 0.7;

  transition: opacity var(--transition-duration-and-timing),
    transform var(--transition-duration-and-timing);
}

.link:hover .post_card__arrow {
  opacity: 1;

  transform: translateX(10px);
}
