.footer_wrapper {
  background-color: var(--secondary-color);
}

.footer {
  padding: 1rem;
  margin: auto 0;

  max-width: var(--page-max-width);
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
}

.footer__contact__title {
  font-size: 1.5rem;
  font-weight: 600;
}
